@{
    ViewData["Title"] = "Arabian Page";
}


<div style="display: flex; justify-content: center; background-color: black; padding: 0px 0; border-top: 2px solid rgb(245, 176, 0); border-bottom: 2px solid rgb(245, 176, 0);">
    <div style="flex: 1; text-align: center; border-right: 1px solid rgb(245, 176, 0);">
        <a asp-controller="Home" asp-action="Index" style="color: rgb(245, 176, 0); text-decoration: none; font-size: 1.2rem; display: block; padding: 10px 0;">HOME</a>
    </div>
    <div style="flex: 1; text-align: center; border-right: 1px solid rgb(245, 176, 0);">
        <a asp-controller="Home" asp-action="Menu" style="color: rgb(245, 176, 0); text-decoration: none; font-size: 1.2rem; display: block; padding: 10px 0;">MENU</a>
    </div>
    <div style="flex: 1; text-align: center; border-right: 1px solid rgb(245, 176, 0);">
        <a asp-controller="Home" asp-action="AboutUs" style="color: rgb(245, 176, 0); text-decoration: none; font-size: 1.2rem; display: block; padding: 10px 0;">ABOUT US</a>
    </div>
    <div style="flex: 1; text-align: center;">
        <a asp-controller="Home" asp-action="ContactUs" style="color: rgb(245, 176, 0); text-decoration: none; font-size: 1.2rem; display: block; padding: 10px 0;">CONTACT US</a>
    </div>
</div>

<div style="align-items: center; margin-top: 4%;">
    <h1 style=" margin-left: 10%; color: rgb(245, 176, 0); font-style: italic;">Arabian</h1>
    <p style="margin-left: 10%; color: rgb(245, 176, 0);" >A rich tapestry of bold spices, tender meats, and aromatic herbs that bring<br/>warmth and depth to every dish.</p>
    
</div>

<div style="width: 100%; display: flex; justify-content: center;">
    <table style="width: 88%; table-layout: fixed; text-align: center;">
        <tr>
            <td style="width: 25%; vertical-align: middle;"><img src="~/images/al faham.jpg" style="width: 180px; height: auto;"></td>
            <td style="width: 25%; vertical-align: middle;">AI Faham Chicken<br/>3.50 MR</td>
            <td style="width: 25%; vertical-align: middle;"><img src="~/images/Majboos.jpg" style="width: 180px; height: auto;"></td>
            <td style="width: 25%; vertical-align: middle;">Majiboos Chicken<br/>3.50 MR</td>
        </tr>

        <tr>
            <td style="width: 25%; vertical-align: middle;"><img src="~/images/mandi.jpg" style="width: 180px; height: auto;"></td>
            <td style="width: 25%; vertical-align: middle;">Mandi Chicken<br/>30 MR</td>
            <td style="width: 25%; vertical-align: middle;"><img src="~/images/fattoush.jpg" style="width: 180px; height: auto;"></td>
            <td style="width: 25%; vertical-align: middle;">Fattoush Salad<br/>20 MR</td>
        </tr>
    </table>
</div>

<style>
    body {
            background-color: black;
            color: white;
            margin: 0;
            font-family: Arial, sans-serif;
        }
</style>