@{
    ViewData["Title"] = "Home Page";
}

<nav class="navbar">
  <div class="container">
    <a class="navbar-brand " href="#">
        <img src="~/images/instagram.png" style="width: 25px; height: auto;"/>
        <img src="~/images/facebook.png" style="width: 25px; height: auto;"/>
        <img src="~/images/twitter.png" style="width: 25px; height: auto;"/>
        <img src="~/images/multimedia.png" style="width: 28px; height: auto;"/>
    </a>
  </div>
</nav>
<div>
    <hr style="height: 4px; background-color: rgb(245, 176, 0); border: none;" />
</div>

<div style="display: flex; justify-content: flex-start; align-items: center; padding: 20px 40px; background-color: black;">
    <div style="flex: 0 0 40%; color: rgb(245, 176, 0); text-align: left;">
        <h1 style="font-size: 3rem; margin: 0;">Muscat Palace</h1>
        <p style="font-size: 1.2rem;">Restaurant & Café in the Heart of Muscat</p>
        <button style="padding: 10px 20px; font-size: 1rem; background: none; border: 1px solid rgb(245, 176, 0); color: rgb(245, 176, 0); border-radius: 30px; cursor: pointer; transition: background 0.3s, color 0.3s;">
            Join now!
        </button>
    </div>

    <div style="flex: 0 0 20%; display: flex; justify-content: center;">
        <img src="~/images/cash-removebg-preview.png" alt="Muscat Palace Logo" style="max-width: 250px; width: 100%;">
    </div>
</div>

<div style="display: flex; justify-content: center; background-color: black; padding: 0px 0; border-top: 2px solid rgb(245, 176, 0); border-bottom: 2px solid rgb(245, 176, 0);">
    <div style="flex: 1; text-align: center; border-right: 1px solid rgb(245, 176, 0);">
        <a href="#" style="color: rgb(245, 176, 0); text-decoration: none; font-size: 1.2rem; display: block; padding: 10px 0;">HOME</a>
    </div>
    <div style="flex: 1; text-align: center; border-right: 1px solid rgb(245, 176, 0);">
        <a href="#" style="color: rgb(245, 176, 0); text-decoration: none; font-size: 1.2rem; display: block; padding: 10px 0;">MENU</a>
    </div>
    <div style="flex: 1; text-align: center; border-right: 1px solid rgb(245, 176, 0);">
        <a href="#" style="color: rgb(245, 176, 0); text-decoration: none; font-size: 1.2rem; display: block; padding: 10px 0;">ABOUT US</a>
    </div>
    <div style="flex: 1; text-align: center;">
        <a href="#" style="color: rgb(245, 176, 0); text-decoration: none; font-size: 1.2rem; display: block; padding: 10px 0;">CONTACT US</a>
    </div>
</div>

<div style="width: 100%; overflow: hidden; height: 320px; position: relative;">
    <img src="~/images/360_F_252388016_KjPnB9vglSCuUJAumCDNbmMzGdzPAucK.jpg" alt="Food Image" style="width: 100%; height: 100%; object-fit: cover; display: block;">
</div>


<style>
    body {
            background-color: black;
            color: white;
            margin: 0;
            font-family: Arial, sans-serif;
        }
</style>