@{
    ViewData["Title"] = "Indian Page";
}


<div style="display: flex; justify-content: center; background-color: black; padding: 0px 0; border-top: 2px solid rgb(245, 176, 0); border-bottom: 2px solid rgb(245, 176, 0);">
    <div style="flex: 1; text-align: center; border-right: 1px solid rgb(245, 176, 0);">
        <a asp-controller="Home" asp-action="Index" style="color: rgb(245, 176, 0); text-decoration: none; font-size: 1.2rem; display: block; padding: 10px 0;">HOME</a>
    </div>
    <div style="flex: 1; text-align: center; border-right: 1px solid rgb(245, 176, 0);">
        <a asp-controller="Home" asp-action="Menu" style="color: rgb(245, 176, 0); text-decoration: none; font-size: 1.2rem; display: block; padding: 10px 0;">MENU</a>
    </div>
    <div style="flex: 1; text-align: center; border-right: 1px solid rgb(245, 176, 0);">
        <a asp-controller="Home" asp-action="AboutUs" style="color: rgb(245, 176, 0); text-decoration: none; font-size: 1.2rem; display: block; padding: 10px 0;">ABOUT US</a>
    </div>
    <div style="flex: 1; text-align: center;">
        <a asp-controller="Home" asp-action="ContactUs" style="color: rgb(245, 176, 0); text-decoration: none; font-size: 1.2rem; display: block; padding: 10px 0;">CONTACT US</a>
    </div>
</div>

<div style="align-items: center; margin-top: 4%;">
    <h1 style=" margin-left: 10%; color: rgb(245, 176, 0); font-style: italic;">Indian</h1>
    <p style="margin-left: 10%; color: rgb(245, 176, 0);" >A vibrant fusion of complex flavors, fragrant spices, and diverse ingredients that<br/>create a truly unforgettable culinary exprience.</p>
    
</div>

<div style="width: 100%; display: flex; justify-content: center;">
    <table style="width: 88%; table-layout: fixed; text-align: center;">
        <tr>
            <td style="width: 25%; vertical-align: middle;"><img src="~/images/Biryani.jpg" style="width: 180px; height: auto;"></td>
            <td style="width: 25%; vertical-align: middle;">Biryani<br/>2.50 MR</td>
            <td style="width: 25%; vertical-align: middle;"><img src="~/images/butter chicken.jpg" style="width: 180px; height: auto;"></td>
            <td style="width: 25%; vertical-align: middle;">Butter Chicken<br/>2.50 MR</td>
        </tr>

        <tr>
            <td style="width: 25%; vertical-align: middle;"><img src="~/images/paneer.jpg" style="width: 180px; height: auto;"></td>
            <td style="width: 25%; vertical-align: middle;">Paneer Tikka<br/>20 MR</td>
            <td style="width: 25%; vertical-align: middle;"><img src="~/images/Kebab.jpg" style="width: 180px; height: auto;"></td>
            <td style="width: 25%; vertical-align: middle;">Kebab<br/>2.50 MR</td>
        </tr>
    </table>
</div>

<style>
    body {
            background-color: black;
            color: white;
            margin: 0;
            font-family: Arial, sans-serif;
        }
</style>